concurrent = 1
check_interval = 0
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "runner-docker-backend"
  url = "https://gitlab.com/"
  id = 50320538
  token = "glrtr-rriQYC0N_QOYu2ljDZ1SOm86MQpwOjE5MWlhNQp0OjMQ.01.1811iudxq"
  token_obtained_at = 2025-10-28T14:22:22Z
  token_expires_at = 0001-01-01T00:00:00Z
  executor = "docker"
  [runners.cache]
    MaxUploadedArchiveSize = 0
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
    network_mtu = 0
